.login-page{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;


    margin-bottom: 20%;

    Form{
        .error{
            color: red;
            font-size: 12px;
            text-align: center;
        }
        input{
            height: 40px;
            width: 100%;
            border-radius: 20px;
            border: none;
            margin-bottom: 15px;
            padding-left: 20px;


            :active, :focus{
                outline: none;
                border: none;
            }
        }

        button{
            height: 60px;
            width: 100%;
            border-radius: 10px;
            border: none;
            margin-bottom: 15px;
            background-color: blue;
            color: white;
            font-weight: 600;
            font-size: 20px;
            

        }
    }

    p{
        text-align: center;
    }
}